export DATA_E2E_REGISTRY_USERNAME=<your container registry username>
export DATA_E2E_REGISTRY_PASSWORD=<your container registry password>
export DATA_E2E_BASE_URL=<your FQDN domain>
export DATA_E2E_POSTGRES_VERSION=2.0.0
export DATA_E2E_POSTGRES_INFERENCE_CLUSTER_NAMESPACE=argo
export DATA_E2E_GREENPLUM_PEM=</path/to/greenplum/pem/file>
export DATA_E2E_GREENPLUM_PASSWORD=</greenplum/password>
export DATA_E2E_MLAPP_GIT_REPO=<your git repo>
export DATA_E2E_MLAPP_GIT_REPO_BRANCH=<your git branch>
export DATA_E2E_MLAPP_INFERENCE_DB_SCHEMA=<your inference db schema>