.env
Dockerfileconfig/argo-workflow-http-proxy.yaml
config/workload-api.yaml
config/workload.yaml
gpdemo.pem
tls.crt tls.key
tls.crt
tls.key
app/__pycache__/
app/analytics/__pycache__/
cifar10
app.log
cifar10.parquet
config/argo-workflow-http-proxy.yamldata
data.zip
data/
