apiVersion: kappctrl.k14s.io/v1alpha1
kind: App
metadata:
  name: ml-image-processing-pipeline-app-gpmain
spec:
  serviceAccountName: default
  fetch:
    - git:
        url: https://github.com/agapebondservant/ml-image-processing-app
        ref: origin/kfp-main

  template:
    - ytt:
        paths:
          - config/cifar/pipeline.yaml
          - config/cifar/values.yaml

  deploy:
    - kapp: {}